.container-galeria {
    justify-content: center;
    display: grid;
    gap: 15px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container-informacion {
    display: grid;
    grid-area: 80%;
    grid-template-columns: 3fr 2fr;
}

.quienessomos {
    max-width: 100%;
    height: auto;
    font-size: 1.5vw;
    font-family: Verdana;
}

#nuestraempresa{
    text-align: center ;
    text-justify:distribute-all-lines;
}

a {
    color: rgb(210, 210, 210);
    text-shadow: grey 0.01em 0.01em 0.2em;
    max-width: fit-content;
    height: auto;
}

.tituloprincipal {
    color: rgb(40, 40, 40, 0.7);
    font-size: 10vw; font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    font-size: 1.5vw;
    font-family: Verdana;
    font-weight: bold;
}
h5{
    font-size: 1.5vw;
    font-family: Verdana; font-weight: bold;
}

footer {
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

.NombreFormularios {
    font-family: Verdana;
    font-weight: bold;
}
.card-text {
    display: flex;
    justify-content:center;
    font-size: larger;
    font-weight: bold;
}
.blockquote { 
    margin-bottom: 0px;
}

/* RESPONSIVIDAD */

@media screen and (max-width: 768px ) {
    .quienessomos {
        max-width: 100%;
        height: auto;
        
}   
    #nuestraempresa {
        font-size: 4vw;
    }
    .container-informacion {
        flex-wrap: wrap;
    }
    .ajustesreloj {
        max-width: 1fr;
    }
}
@media screen and (min-width: 769px ) {
    #nuestraempresa {
       font-size: 3vw;
    }   
    .ajustesreloj {
        max-width: 30%;
    }
    }

@media screen and (min-width: 1024px){
    #nuestraempresa {
        font-size: 1.5vw;
    }
    .container-menu-hora {
        display: grid;
        grid-template-areas: top bottom;
        grid-template-rows: 1fr 1fr;

    }
    .grid-top {
        max-width: 100%;
        display: grid;
        grid-template-areas: left center right ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-right {
        display: grid;
        justify-content:right;
        margin-right: 10px;
    }

}
